[Unit]
Description=GetRich Live Signal Generator Timer
Requires=getrich-signals.service

[Timer]
OnCalendar=*:0/5
Persistent=true
RandomizedDelaySec=30

[Install]
WantedBy=timers.target
