--find-links ./local_packages

akshare
clickhouse-connect
dotenv
duckdb
hdb
insight-py-win
lntools
matplotlib
mypy
numpy
pandas
pandas-stubs
polars
python-dotenv
py_vollib
pyyaml
python-dateutil
rich
scikit-learn
scipy
seaborn
statsmodels
tqdm
rqsdk
rqdatac