--find-links ./local_packages

akshare
clickhouse-connect
hdb
lntools
matplotlib
numpy
pandas
polars
python-dotenv
py_vollib
pyyaml
python-dateutil
rich
scikit-learn
scipy
seaborn
statsmodels
tqdm
rqsdk
rqdatac